@import "antd/dist/reset.css";

:root {
  --app-bg: #2e3033;
  --app-text: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--app-bg);
  color: var(--app-text);
}

.products {
  max-width: 1440px;
  margin: auto;
  padding: 92px 48px 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ant-pagination-item-active a {
  color: rgba(255, 255, 255, 0.25) !important;
}

.textarea-scroll textarea {
  overflow-y: auto !important;
}
