.checkbox {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 10px;
  display: inline-flex;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
  }
}

:global(input:hover) + .icon {
  transform: scale(1.2);
}
