.products {
  max-width: 1440px;
  margin: auto;
  padding: 128px 0 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  :global(.ant-pagination-item-active a) {
    color: rgba(255, 255, 255, 0.25);
  }
}
