.movie {
  display: flex;
  justify-content: center;
  padding: 40px;

  &__card {
    display: flex;
    gap: 24px;
    max-width: 900px;
    background-color: #1f1f1f;
    color: #fff;
  }

  &__poster {
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  &__info {
    flex: 1;
  }

  &__noPoster {
    width: 300px;
    height: 450px;
    background: #333;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}