.movie {
  max-width: 1440px;
  margin: auto;
  padding: 92px 48px 64px;

  &__btn {
    font-size: 18px;
    margin-bottom: 16px;
  }

  &__poster_—Åontainer {
    position: relative;
  }

  &__poster {
    border-radius: 8px;
    object-fit: cover;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262728;
  }
}